<div>
    <H1>Esto realmente funciona? </H1>
    <h1>Listado de productos</h1>
    <h1>{{prod.title}}</h1>
<p>{{prod.description}}</p>
<img src="{{prod.imageUrl}}" alt="{{prod.title}}">
<p>Precio: {{prod.price}}</p>

</div>