<div>
    
    <h1>Listado de productos</h1>
    <h1>{{prod.title}}</h1>
<p> Descripción:{{prod.description}}</p>
<img src="{{prod.thumbnails}}" alt="{{prod.title}}" height="150">
<p>Precio: {{prod.price}}</p>

</div>
