<div>
    
<div>
    
        <h1>Don Pedro Carnes</h1>
        <h2>La mejor carne de la ciudad</h2>
    <p>{{ user.first_name }}</p> 
    {{!-- {{#each docs}}
    <h1>{{this.title}}</h1>
    <p>{{this.description}}</p>
    <p>{{this.price}}</p>
    <img src={{this.thumbnail}} alt={{this.title}}> --}}
  {{!-- ]  {{/each}} --}}
</div>
