<div>
    
<div>
    
    
    TESTING INDEX

    {{!-- {{#each docs}}
    <h1>{{this.title}}</h1>
    <p>{{this.description}}</p>
    <p>{{this.price}}</p>
    <img src={{this.thumbnail}} alt={{this.title}}> --}}
  {{!-- ]  {{/each}} --}}
</div>
