<div>
  <h1>Nuestros productos</h1>
  {{#each products}}
  <h2>{{this.title}}</h2>
  <p>{{this.description}}</p>
  <p>{{this.price}}</p>
  <img src={{this.thumbnail}} alt={{this.title}}>
  <a href="/products/{{this._id}}">Ver detalles</a>
  <form method="POST" action="/carts">
    <input type="hidden" name="productId" value="{{this._id}}">
    <button type="submit">Agregar al carrito</button>
  </form>
  {{/each}}

  <div>
    {{#if hasPrevPage}}
      <a href="{{prevLink}}">Anterior</a>
    {{/if}}
    {{#if hasNextPage}}
      <a href="{{nextLink}}">Siguiente</a>
    {{/if}}
  </div>
</div>