<div>
    <h1>Listado de productos</h1>
    {{#each products}}
    <h1>{{title}}</h1>
    <p> Descripción:{{description}}</p>
    <img src="{{thumbnails}}" alt="{{title}}" height="150" >
    <p>Precio: {{price}}</p>
    {{/each}}

 
</div>